{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <header>
    <div class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="responsive-logo">
              <a href="./" class="navbar-brand">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="DEVcoded">
              </a>
            </div>
            <nav class="navbar-collapse collapse" role="navigation">
              <ul class="nav navbar-nav navbar-right responsive-nav">
                <li><a href="#settings" onclick="show('settings'); return false;">{{ current_user.email }}</a></li>
                <li style="margin-left: 40px;"><a href={{ url_for('auth.logout') }}>Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-2 navbar-default sidebar">
      <ul class="nav" id="side-menu">
        <li><a href="#home" onclick="show('home'); return false;"><i class="fa fa-home"></i>Home</a></li>
        {% block sidebar_items %}
        {% endblock %}
        <li><a href="#settings" onclick="show('settings'); return false;"><i class="fa fa-gears"></i>Settings</a></li>
      </ul>
    </div>
    <div id="page-wrapper" class="col-sm-10 col-sm-offset-2 content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="animated bounceInLeft form-error-box" data-animation="bounceInLeft">
            {% for message in messages %}
              <span>{{ message }}</span>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <span id="home" class="dash-content">
        {% include "dashboard/home/" + current_user.readable_role() + "_home.html" ignore missing %}
      </span>
      <span id="settings" class="dash-content">
        {% include "dashboard/settings/" + current_user.readable_role() + "_settings.html" ignore missing %}
      </span>

      {% block dash_content %}
      {% endblock %}
    </div>
  </div>

  <!-- Section: TEMPLATES -->
  <script id="plugin-table-template" type="text/x-jquery-tmpl">
    <tr>
      <td><a id="order-${order_id}">${name}</a></td>
      <td>${description}</td>
      <td><i class="fa
      {% raw %}
        ${getIcon(status, paid, developer)}
      {% endraw %}
      </td>
    </tr>
  </script>

  <script id="plugin-detail-template" type="text/x-jquery-tmpl">
    <div class="col-sm-12">
      <div class="group-topper infobar row clearfix">
        <div class="col-sm-2">
          <h4 class="text-left">${name}</h4>
        </div>
        <div class="col-sm-2">
          <h5><strong>Developer: </strong>
            {% raw %}
              {{if developer}}
                ${developer}
              {{else}} None assigned
              {{/if}}
          {% endraw %}
          </h5>
        </div>
        <div class="col-sm-2">
          <h5><i class="fa fa-calendar"></i>:
            {% raw %}
              {{if eta}}${eta}
              {{else}}Undecided
              {{/if}}
            {% endraw %}
          </h5>
        </div>
        <div class="col-sm-5">
          <h5><strong>Status: </strong>{% raw %}${getStatus(status)} {% endraw %}</h5>
        </div>
      </div>
      <div class="group-topper infobar row clearfix">
        <div class="col-sm-6">
          <h5><strong>Price: </strong>
            {% raw %}
              {{if price}}$${price}
                {{if paid}} paid <i class="fa fa-check"></i>
                {{/if}}
              {{else}}
                {{if paid}} Free!
                {{else}} None set
                {{/if}}
              {{/if}}
            {% endraw %}
          </h5>
        </div>
        <div class="col-sm-6">
          <h5><strong>Files: </strong>
            <select id='plugin-files'>
              {% raw %}
                <option value="-1">Choose a file</option>
                {{each files}}
                  <option value="${$index}">${$value.url}</option>
                {{/each}}
              {% endraw %}
            </select>
            <button class="custom-btn">Download</button>
          </h5>
        </div>
      </div>
      <div class="col-sm-12 group">
        <ul class="cbp_tmtimeline cbp_tmmiddle">
          {% raw %} {{tmpl(updates) "#plugin-update-template"}} {% endraw %}
        </ul>
      </div>
    </div>
  </script>

  <script id="plugin-update-template" type="text/x-jquery-tmpl">
    <li>
      <div class="cbp_tmicon">
        <i class="fa fa-circle"></i>
      </div>
      <div class="cbp_tmlabel">
        <p>${description}</p>
        <span class="pull-right timestamp">&mdash;${created}</span>
      </div>
    </li>
  </script>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/lib/jquery.tmpl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

  <script>
    $(document).ready(function () {
        hideAll();
        var start = 'home';
        var href = $(window.location).attr("href");
        var index = href.lastIndexOf('#');
        if (index > -1) {
            if ($("#" + href.substr(index + 1)).length > 0) {
                start = href.substr(index + 1);
        }
    }
    show(start);
    })
  </script>
{% endblock %}
