{% extends "dashboard/dashboard_base.html" %}

{% block dash_content %}
  {{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
window.orders = [];
function getUserPlugins(user_id) {
  getUserOrders(user_id).done( function(r) {
    var order_ids = r.data.order_ids;
    for (var i=0, len = order_ids.length; i < len; i++) {
      getOrder(order_ids[i]).done( function(r) {
        var order_id = r.data.id;
        var plugin_id = r.data.plugin_id;
        var order_price = r.data.price;
        var order_paid = Boolean(r.data.paid);
        getPlugin(plugin_id).done( function(r) {
          var order = {
            order_id: order_id,
            name: r.data.name,
            description: r.data.description.trunc(85),
            full_description: r.data.description,
            developer: r.data.developer,
            updates: r.data.updates,
            files: r.data.files,
            status: r.data.status,
            paid: order_paid,
            price: order_price
          };

          getUser(r.data.developer).done( function(s) {
            order.developer = s.data.username;
          }).always(function (){
            window.orders.push(order);
            insertTablePlugin(order);
            $('#no-plugins').remove()
          });
        })
      })
    }
  });
}

$(document).ready(function() {
  getUserPlugins({{ current_user.id }});
});
</script>
{% endblock %}
