{% extends "dashboard/dashboard_base.html" %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/lib/timeline.css') }}" rel="stylesheet">
{% endblock %}

{% block dash_content %}
  {{ super() }}
  <span id="home" class="dash-content">
        {% include "dashboard/home/" + current_user.readable_role() + "_home.html" ignore missing %}
    </span>
  <span id="settings" class="dash-content">
        {% include "dashboard/settings/" + current_user.readable_role() + "_settings.html" ignore missing %}
    </span>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lib/jquery.tmpl.js') }}"></script>

<script>
String.prototype.trunc = String.prototype.trunc ||
      function(n){
          return this.length>n ? this.substr(0,n-1)+'&hellip;' : this;
      };

window.orders = [];
function getUserPlugins(user_id) {
  getUserOrders(user_id).done( function(r) {
    var order_ids = r.data.order_ids;
    for (var i=0, len = order_ids.length; i < len; i++) {
      getOrder(order_ids[i]).done( function(r) {
        var order_id = r.data.id;
        var plugin_id = r.data.plugin_id;
        var order_price = r.data.price;
        var order_paid = Boolean(r.data.paid);
        getPlugin(plugin_id).done( function(r) {
          var order = {
            order_id: order_id,
            name: r.data.name,
            description: r.data.description.trunc(85),
            full_description: r.data.description,
            developer: r.data.developer,
            updates: r.data.updates,
            status: r.data.status,
            paid: order_paid,
            price: order_price
          };

          getUser(r.data.developer).done( function(s) {
            order.developer = s.data.username;
          }).always(function (){
            window.orders.push(order);
            insertTablePlugin(order);
            $('#no-plugins').remove()
          });
        })
      })
    }
  });
}

function insertTablePlugin(plugin) {
  var rendered_template = $('#plugin-table-template').tmpl(plugin);
  $('#plugin-table').append(rendered_template);
  pluginDetailOnClick(plugin);
};

function pluginDetailOnClick(plugin) {
  var rendered_template = $('#plugin-detail-template').tmpl(plugin);
  $("#order-" + plugin.order_id).on("click", function(e) {
    e.preventDefault();
    $('#plugin-detail').empty();
    $('#plugin-detail').append(rendered_template);
  })
}

function getUserOrders(user_id) {
  return $.ajax({
    url: "/api/users/" + user_id + "/orders/",
    context: document.body
    });
}

function getUser(user_id) {
  return $.ajax({
    url: "/api/users/" + user_id,
    context: document.body
  });
}

function getOrder(order_id) {
  return $.ajax({
      url: "/api/orders/" + order_id,
      context: document.body
      });
}

function getPlugin(plugin_id) {
  return $.ajax({
      url: "/api/plugins/" + plugin_id,
      context: document.body
      });
}

$(document).ready(function() {
  getUserPlugins({{ current_user.id }});
});
</script>
{% endblock %}
