body {
  background-color: #f8f8f8;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color:#fff;
}

@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

.navbar {
  border-bottom: 1px solid #e7e7e7 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: 0;
  height: 75px;
  background-color: #f8f8f8 !important;
}
.navbar li {
  margin-top: 10px;
}

.sidebar {
  padding-right: 0px;
  padding-left: 0px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a {
  font-size: medium;
  text-align: left;
  margin-left: 20px;
}
.sidebar ul li a.active {
  background-color: #eee;
}
.sidebar ul li i {
  padding-right: 5px;
  padding-bottom: 2px;
}

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    margin-top: 51px;
  }
}

.content button {
  margin-bottom: 10px;
}
.content button a {
  color: #fff !important;
}

.content .table-topper {
  border: 1px solid #e7e7e7;
  border-radius: 2px 2px 0 0;
  border-bottom: 0;
  margin-right: 1px;
}
.content .table-topper h4 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-left: 12px;
}
.content .table-striped {
  border: 1px solid #e7e7e7;
}

.content .group {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e7e7e7;
}
.content .group-topper {
  border: 1px solid #e7e7e7;
  border-radius: 2px 2px 0 0;
  border-bottom: 0;
}
.content .group-topper h4 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-left: 12px;
}
