<div class="row">
    <div class="col-sm-12">
        <h3 class="text-left">Home</h3>
        <div class="hr"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="table-responsive">
            <div class="table-topper">
                <h4 class="text-left">Plugin overview</h4>
            </div>
            <table id="plugin-table" class="table table-striped">
                <tr id="no-plugins">
                    <td></td>
                    <td>You don't have any plugins yet. Click on the button to the right to order one!</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="group-topper">
            <h4 class="text-left">Actions</h4>
        </div>
        <div class="group">
            <div class="row">
                <button class="btn custom-button blue-btn"><a href="{{ url_for('main.order') }}">Order a plugin</a></button>
            </div>
            <div class="row">
                <button class="btn custom-button red-btn"><a href="mailto:contact@devcoded.com">Get some help?</a></button>
            </div>
        </div>
    </div>
</div>
<div id="plugin-detail" class="row">
  <div class="col-sm-12">
    <div class="group-topper infobar clearfix">
      <div class="col-sm-3">
        <h4 class="text-left">Plugin details</h4>
      </div>
    </div>
    <div class="col-sm-12 group">
      <h3>Click a plugin above to view detailed information on it.</h3>
    </div>
  </div>
</div>
