{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block title %}MC plugins{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/styles.css') }}"  rel="stylesheet">
{{ super() }}

<!-- Fonts -->
<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700'  rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700'  rel="stylesheet" type="text/css">

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!--{{google.analytics(account="")}}-->

{% endblock %}

