{% extends "navbar_base.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    {{ super() }}
{% endblock %}

{% block content %}
<img class="parallax-background" src="{{ url_for('static', filename='img/background.png') }}"></img>

<section class="home" id="home">
  <div class="container">
    <h1 class="intro">Quality products designed to enhance your server</h1>

    <div class="buttons">
      <a href="#order" class="btn btn-primary custom-button green-btn">Order now</a>
    </div>
    <div class="row bottom-message-section">
      <div class="col-lg-4 col-sm-4">
        <div class="short-text">
          <i class="fa fa-dollar"></i> Packages to fit your budget
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="short-text">
          <i class="fa fa-clock-o"></i> Fast turnaround
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="short-text">
          <i class="fa fa-check"></i> Satisfaction guranteed
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us" id="aboutus">
<div class="container">

  <div class="section-header">

    <h2 class="white-text">About US</h2>

    <h5 class="white-text">
        We are here for everything you need.
    </h5>
  </div>

  <div class="row">

    <div class="col-lg-4 col-md-4 column">
      <div class="big-intro">
          Plugins developed from the Core
      </div>
    </div>

    <div class="col-lg-4 col-md-4 column">
      <p>
          At DEVcoded we ensure that all of our plugins are designed with attention to detail from the core up.Thanks to our expert developers, we can guarantee high-quality design and optimized code for a great overall performance.
          <br/><br/>
          To meet your highest standards we follow a strict set of guidelines in the development of every plugin. Additionally, we know that communication with the client is key, and we do our best to keep you informed every step of the way. We strive to find new ways to solve your problems and deliver the best product available.
      </p>
    </div>

    <div class="col-lg-4 col-md-4 column">
      <ul class="skills">

        <li class="skill">
          <h6>Design</h6>
          <p>
            Thoughtfully put together to provide the best user experience.
          </p>
        </li>

        <li class="skill">
          <h6>Testing</h6>
          <p>
            Don’t worry about bugs. Every plugin is tested extensively prior to release.
          </p>
        </li>

        <li class="skill">
          <h6>Performance</h6>
          <p>
            Tuned to run with the lowest overhead possible.
          </p>
        </li>

        <li class="skill">
          <h6>last thing</h6>
          <p>
            Info about another thing comes here.
          </p>
        </li>

      </ul>
    </div>
  </div>
</div>
</section>

<section class="testimonial" id="testimonials">
<div class="container">

        <div class="section-header">

    <h2 class="white-text">Testimonials</h2>

    <h6 class="white-text">
      We have worked with hundreds of clients. Check what our awesome happy clients saying about us.
    </h6>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="client-feedbacks">

      <div class="col-md-4">
        <div class="feedback-box">
          <div class="message">
             “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, ev
          </div>
          <div class="client">
            <div class="quote red-text">
              <i class="fa fa-large fa-quote-left"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Frank Willian</a>
              <div class="client-company">
                 CEO, AbcD Network
              </div>
            </div>
            <div class="client-image">
              <img src="{{ url_for('static', filename='img/headshot.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
       <div class="feedback-box">
          <div class="message">
             “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, ev
          </div>
          <div class="client">
            <div class="quote green-text">
              <i class="fa fa-large fa-quote-left"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">David Clyne</a>
              <div class="client-company">
                 CEO, Zyxw
              </div>
            </div>
            <div class="client-image">
              <img src="{{ url_for('static', filename='img/headshot.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feedback-box">
          <div class="message">
             “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, ev
          </div>
          <div class="client">
            <div class="quote blue-text">
              <i class="fa fa-large fa-quote-left"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Keith McCarthy</a>
              <div class="client-company">
                 Manager, XYZ Inc.
              </div>
            </div>
            <div class="client-image">
              <img src="{{ url_for('static', filename='img/headshot.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
</section>

<section class="features" id="features">
<div class="container">
 <div class="section-header">
    <h2 class="dark-text">Features</h2>
    <h6>
        We develop quality plugins to help your server, be it small or large.
    </h6>
  </div>

  <div class="row">

    <div class="col-md-6 col-sm-6">

      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-heart"></i>
        </div>
        <h5>Design with Love</h5>
        <p>
            We’re passionate about creating the best plugins on the market.
            Everything that comes out of our business is held to the highest standards
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-gears"></i>
        </div>
        <h5>Creative Features</h5>
        <p>
            If you can dream it, we can make it a reality!
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-magic"></i>
        </div>
        <h5>Thousands of Options</h5>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-rocket"></i>
        </div>
        <h5>Easy to Customize</h5>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-shield"></i>
        </div>
        <h5>Customer protection</h5>
        <p>
            All your data is securely stored in a private database for maximum security!
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-trophy"></i>
        </div>
        <h5>Awesome Support</h5>
        <p>
            If you ever run into problems or are aren’t happy with our products, just let us know and we’ll make it right to you!
        </p>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
