{% extends "navbar_base.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    {{ super() }}
{% endblock %}

{% block content %}
<img class="parallax-background" src="{{ url_for('static', filename='img/background.png') }}"></img>

<section class="home" id="home">
  <div class="container">
    <h1 class="intro">Quality products designed to enhance your server</h1>

    <div class="buttons">
      <a href="{{ url_for('main.order') }}" class="btn btn-primary custom-button green-btn">Order now</a>
    </div>
    <div class="row bottom-message-section">
      <div class="col-lg-4 col-sm-4">
        <div class="short-text">
          <i class="fa fa-dollar"></i> Packages to fit your budget
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="short-text">
          <i class="fa fa-clock-o"></i> Fast turnaround
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="short-text">
          <i class="fa fa-check"></i> Satisfaction guranteed
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us" id="aboutus">
<div class="container">

  <div class="section-header">

    <h2 class="white-text">About US</h2>

    <h5 class="white-text">
        We are here for everything you need.
    </h5>
  </div>

  <div class="row">

    <div class="col-lg-4 col-md-4 column">
      <div class="big-intro">
          Plugins developed from the Core
      </div>
    </div>

    <div class="col-lg-4 col-md-4 column">
      <p>
          At DEVcoded we ensure that all of our plugins are designed with attention to detail from the core up.Thanks to our expert developers, we can guarantee high-quality design and optimized code for a great overall performance.
          <br/><br/>
          To meet your highest standards we follow a strict set of guidelines in the development of every plugin. Additionally, we know that communication with the client is key, and we do our best to keep you informed every step of the way. We strive to find new ways to solve your problems and deliver the best product available.
      </p>
    </div>

    <div class="col-lg-4 col-md-4 column">
      <ul class="skills">

        <li class="skill">
          <h6>Design</h6>
          <p>
            Thoughtfully put together to provide the best user experience.
          </p>
        </li>

        <li class="skill">
          <h6>Testing</h6>
          <p>
            Don’t worry about bugs. Every plugin is tested extensively prior to release.
          </p>
        </li>

        <li class="skill">
          <h6>Performance</h6>
          <p>
            Tuned to run with the lowest overhead possible.
          </p>
        </li>

      </ul>
    </div>
  </div>
</div>
</section>

<section class="testimonial" id="testimonials">
<div class="container">

        <div class="section-header">

    <h2 class="white-text">Testimonials</h2>

    <h6 class="white-text">
      We have many satisfied clients! Check what they're saying about us below.
    </h6>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="client-feedbacks">

      <div class="col-md-4">
        <div class="feedback-box">
          <div class="message">
             “Devcoded really helped jumpstart my minecraft server with their custom plugins.
          </div>
          <div class="client">
            <div class="quote red-text">
              <i class="fa fa-large fa-quote-left"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Patrick James</a>
              <div class="client-company">
                Owner FactionAction
              </div>
            </div>
            <div class="client-image">
              <img src="{{ url_for('static', filename='img/headshot1.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
       <div class="feedback-box">
          <div class="message">
             “Friendly people, helpful staff with great support, and awesome plugins.
          </div>
          <div class="client">
            <div class="quote green-text">
              <i class="fa fa-large fa-quote-left"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Michael Yates</a>
              <div class="client-company">
                Admin Parallax Servers
              </div>
            </div>
            <div class="client-image">
              <img src="{{ url_for('static', filename='img/headshot2.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feedback-box">
          <div class="message">
             “Helped me get my servers up and runing with custom plugins.
          </div>
          <div class="client">
            <div class="quote blue-text">
              <i class="fa fa-large fa-quote-left"></i>
            </div>
            <div class="client-info">
              <a class="client-name" href="">Alec Phillips</a>
              <div class="client-company">
                Owner MC-TNT
              </div>
            </div>
            <div class="client-image">
              <img src="{{ url_for('static', filename='img/headshot3.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
</section>

<section class="features" id="features">
<div class="container">
 <div class="section-header">
    <h2 class="dark-text">Features</h2>
    <h6>
        We develop quality plugins to help your server, be it small or large.
    </h6>
  </div>

  <div class="row">

    <div class="col-md-6 col-sm-6">

      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-heart"></i>
        </div>
        <h5>Designed with Love</h5>
        <p>
            We’re passionate about creating the best plugins on the market.
            Everything that comes out of our business is held to the highest standards
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-gears"></i>
        </div>
        <h5>Creative Features</h5>
        <p>
            If you can dream it, we can make it a reality!
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-magic"></i>
        </div>
        <h5>Thousands of Options</h5>
        <p>
          Our pre-built plugin packages will get you up and running in no time at all. Choose from a set of options for a custom-tailored experience at a fraction of the price.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-rocket"></i>
        </div>
        <h5>Easy to Customize</h5>
        <p>
          Our plugins are designed with server administrators in mind. Configurations are all well documented and flexible to the greatest extent.
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-shield"></i>
        </div>
        <h5>Customer protection</h5>
        <p>
            All your data is securely stored in a private database for maximum security!
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-large fa-trophy"></i>
        </div>
        <h5>Awesome Support</h5>
        <p>
            If you ever run into problems or are aren’t happy with our products, just let us know and we’ll make it right to you!
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="order" id="order">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3 class="white-text">Ready to order a plugin?</h3>
      </div>
      <div class="col-md-3">
        <a href="{{ url_for('main.order') }}" class="btn btn-lg custom-button blue-btn">Order now</a>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="pull-left">© 2014 DEVCoded</span>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <span>Need to get in touch? Contact us at <a href="mailto:contact@devcoded.com">contact@devcoded.com</a></span>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
