{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/lib/timeline.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="order-form-section">
    <div class="section-title">
      <h3 class="blue-text">Order a Plugin</h3>
      <h5>Be sure to include as much detail as possible.</h5>
    </div>
    <form action="{{ url_for('main.order') }}" method="POST">
      <div class="textbox-wrap clearfix"> <!-- SECTION: General -->
        <label for="plugin-name" class="control-label">Plugin name</label>
        <div class="col-md-4">
          <div class="input-group col-md-12">
            <span class="input-group-addon">
              <i class="fa fa-star"></i>
            </span>
            {{ form.plugin_name(id="plugin-name", class="form-control", required="required") }}
          </div>
        </div>
      </div>
      <div class="textbox-wrap">
        <label for="plugin-description" class="control-label">Plugin description</label>
        <div class="col-md-5">
          <div class="input-group col-md-12">
            {{ form.plugin_desc(id="plugin-description", class="form-control", rows="5") }}
          </div>
        </div>
      </div> <!-- END SECTION: General -->

      <div class="hr"></div>

      <div class="textbox-wrap"> <!-- SECTION: Commands -->
        <label>Commands</label>
        <div class="command-group clearfix">
          <div class="col-md-5">
            <div class="input-group col-md-12">
              {{ form.commands.command_name(class="form-control command-name", placeholder="/command [arg] [value]") }}
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group col-md-12">
              {{ form.commands.command_perm(class="form-control command-permission", placeholder="permission.node") }}
            </div>
          </div>
          <div class="col-md-offset-3 col-md-8">
            <div class="input-group col-md-12">
              {{ form.commands.command_desc(class="form-control", placeholder="Command description") }}
            </div>
          </div>
          <button style="color: #ccc;" class="fa fa-large fa-minus-circle icon-button"></button>
        </div>

        <div class="col-md-12">
          <button id="mk-command" class="btn btn-success pull-right custom-button green-btn">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div> <!-- END SECTION: Commands -->

      <div class="hr"></div>

      <div class="textbox-wrap"> <!-- SECTION: Permissions -->
        <label>Additional Permissions</label>
        <div class="command-group clearfix">
          <div class="col-md-3">
            <div class="input-group col-md-12">
              {{ form.permissions.permission_name(class="form-control", placeholder="permission.node") }}
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group col-md-12">
              {{ form.permissions.permission_desc(class="form-control", placeholder="Permission description") }}
            </div>
          </div>
          <button style="color: #ccc;" class="fa fa-large fa-minus-circle icon-button"></button>
        </div>
        <div class="col-md-12">
          <button id="mk-perm" class="btn btn-success pull-right custom-button green-btn">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div> <!-- END SECTION: Permissions -->

      <div class="hr"></div>

      <div class="textbox-wrap"> <!-- SECTION: Configuration -->
        <label>Configuration</label>
        <div class="command-group clearfix">
          <div class="col-md-2">
            <div class="input-group col-md-12">
              {{ form.configs.config_name(class="form-control", placeholder="Name") }}
            </div>
          </div>
          <div class="col-md-2">
            <div class="input-group col-md-12">
              {{ form.configs.config_val(class="form-control", placeholder="Value") }}
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group col-md-12">
              {{ form.configs.config_desc(class="form-control", placeholder="Description") }}
            </div>
          </div>
          <button style="color: #ccc;" class="fa fa-large fa-minus-circle icon-button"></button>
        </div>
        <div class="col-md-12">
          <button id="mk-config" class="btn btn-success pull-right custom-button green-btn">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div> <!-- END SECTION: Configuration -->

      <div class="hr"></div>

      <div class="textbox-wrap clearfix"> <!-- SECTION: Events -->
        <label>Event Timeline</label>
        <div class="command-group clearfix">
          <ul style="margin-left:14%;" class="cbp_tmtimeline">
            <li style="margin-bottom: 0px;" class="command-group">
              <div class="cbp_tmicon fa fa-circle"></div>
              <div class="cbp_tmlabel">
                <div class="input-group col-md-12">
                  {{ form.events.action(class="form-control input-lg", placeholder="Action (ie. command, event)") }}
                </div>
                <div class="hr"></div>
                <div class="input-group col-md-12">
                  {{ form.events.result(class="form-control", placeholder="Result (ie. what the plugin does)") }}
                </div>
              </div>
            </li>
            <li>
              <div style="background:#5cb85c;" class="cbp_tmicon">
                <button class="fa fa-plus"></button>
              </div>
            </li>
          </ul>
        </div>
      </div> <!-- END SECTION: Events -->

      {{ form.csrf_token }}
      <div class="col-md-12 clearfix">
        <button type="submit" class="btn btn-success pull-right custom-button green-btn">Submit</button>
      </div>
    </form>
  </div>
</div>

<script id="command-template" type="text/x-jquery-tmpl">
<div class="command-group clearfix">
  <div class="col-md-offset-3 col-md-5">
    <div class="input-group col-md-12">
      <input id="commands-command_name-${idx}" class="form-control command-name" placeholder="/command [arg] [value]">
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group col-md-12">
      <input id="commands-command_perm-${idx}" class="form-control command-permission" placeholder="permission.node">
    </div>
  </div>
  <div class="col-md-offset-3 col-md-8">
    <div class="input-group col-md-12">
      <input id="commands-command_desc-${idx}" class="form-control" placeholder="Command description">
    </div>
  </div>
  <button class="fa fa-large fa-minus-circle icon-button rm-item"></button>
</div>
</script>

<script id="permission-template" type="text/x-jquery-tmpl">
<div class="command-group clearfix">
  <div class="col-md-offset-3 col-md-3">
    <div class="input-group col-md-12">
      <input id="permissions-permission_name-${idx}" class="form-control", placeholder="permission.node">
    </div>
  </div>
  <div class="col-md-5">
    <div class="input-group col-md-12">
      <input id="permissions-permission_desc-${idx}" class="form-control", placeholder="Permission description">
    </div>
  </div>
  <button class="fa fa-large fa-minus-circle icon-button rm-item"></button>
</div>
</script>

<script id="configuration-template" type="text/x-jquery-tmpl">
<div class="command-group clearfix">
  <div class="col-md-offset-3 col-md-2">
    <div class="input-group col-md-12">
      <input id="configs-config_name-${idx}" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group col-md-12">
      <input id="configs-config_val-${idx}" class="form-control" placeholder="Value">
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group col-md-12">
      <input id="configs-config_desc-${idx}" class="form-control" placeholder="Description">
    </div>
  </div>
  <button class="fa fa-large fa-minus-circle icon-button rm-item"></button>
</div>
</script>

<script id="event-template" type="text/x-jquery-tmpl">
<li style="margin-bottom: 0px;" class="command-group">
  <div class="cbp_tmicon fa fa-circle"></div>
  <div class="cbp_tmlabel">
    <div class="input-group col-md-12">
      <input id="events-action-${idx}" class="form-control input-lg" placeholder="Action (ie. command, event)">
    </div>
    <div class="hr"></div>
    <div class="input-group col-md-12">
      <input id="events-result-${idx}" class="form-control input-lg" placeholder="Result (ie. what the plugin does">
    </div>
  </div>
</li>
<li>
</script>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lib/jquery.tmpl.js') }}"></script>

<script>
function insertTemplateOnClick(button_id, template_id) {
  count = 0;
  $(button_id).on("click", function(e) {
    e.preventDefault(); // Don't submit on click
    count++;
    rendered_template = $(template_id).tmpl({idx: count});
    $(this).parent().siblings(".command-group").last().after( rendered_template );
  });
};

$(document).ready(function(){
  $(document).on("click", ".rm-item", function (e) {
    e.preventDefault();
    $(this).closest(".command-group").remove();
  });

  $(document).on("keyup", ".command-name", function () {
    var clean_plugin_name = $("#plugin-name").val().split(" ")[0].toLowerCase().replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '-');
    var clean_command_name = $(this).val().split(" ")[0].toLowerCase().replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '-');

    var perm_ele = $(this).parents(':eq(1)').siblings(".col-md-3").children().children();
    $(perm_ele).val(clean_plugin_name + '.' + clean_command_name)
  });

  insertTemplateOnClick("#mk-command", "#command-template");
  insertTemplateOnClick("#mk-perm", "#permission-template");
  insertTemplateOnClick("#mk-config", "#configuration-template");
});

</script>
{% endblock %}
